<title><%= title %></title>
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100,900' rel='stylesheet' type='text/css'>
