<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		<style>
			body, html, #map-canvas {
				margin: 0;
				padding: 0;
				height: 100%;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div id="map-canvas"></div>
		<script>
			function initMap() {
				var uoft = {lat: 43.6628956, lng: -79.3978504};
				var map = new google.maps.Map(document.getElementById('map-canvas'), {
					zoom: 15,
					center: uoft
				});
				var data = <%- JSON.stringify(bike_data) %>;
				data.stationBeanList.forEach(function(station, index, array) {
					if (station.statusKey == 1 && !station.testStation) {
						var marker = new google.maps.Marker({
							position: {
								lat: station.latitude,
								lng: station.longitude
							},
							label: String(station.availableBikes),
							map: map,
							icon: 'images/marker.png',
							title: station.stationName,
							opacity: 0.8
						});
					}
				});
				console.log('Last updated ' + data.executionTime);
			}
		</script>
		<script async defer src='https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&signed_in=true&callback=initMap'></script>
	</body>
</html>
